<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
  
	<!-- <title>Bethany Bootstrap Template - Index</title> -->
	<meta content="" name="description">
	<meta content="" name="keywords">
  
	<!-- Favicons -->
	<link rel="shortcut icon" href="train.ico" type="image/x-icon">
  <title>VoyageMate</title>
  
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
	<!-- Vendor CSS Files -->
	<link href="assets/vendor/aos/aos.css" rel="stylesheet">
	<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
	<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
	<!-- Template Main CSS File -->
	<link href="assets/css/style.css" rel="stylesheet">
  
	<!-- =======================================================
	* Template Name: Bethany
	* Updated: Mar 10 2023 with Bootstrap v5.2.3
	* Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
	* Author: BootstrapMade.com
	* License: https://bootstrapmade.com/license/
	======================================================== -->
  <style>
    body {
	background: #f6f5f7;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    display: flex;
	/* 
	font-family: 'Montserrat', sans-serif; */
	/* height: 100vh; */
}
li{
    margin-right: 40px;
}
#content{
    width:1400px;
    margin-top: 100px;
}
#ftr
{
    margin-top: 100px;
    position: absolute;
    height: 300px;
    width: 100%;
    padding-bottom: -100px;
    left: 0px;
}
</style></head>
<body >
<div class="header-container d-flex align-items-center justify-content-between" style="margin-top: 00px;background-color: white;width: 1200px;height: 60px;">
	
<nav id="navbar" class="navbar" >
          <ul>
			<li style="background-color: blueviolet;height: 60px;width:180px;color: white;text-align: center;"><a href="/"><h4 style="color: white;font-weight: bold;margin-top: 7px;text-transform: none;">VoyageMate</h4></a></li>
            <li><a class="nav-link scrollto active" href="/" style="position: relative; top:2px;">Home</a></li>
            <li><a class="nav-link scrollto" href="/about" style="position: relative; top:2px;">About</a></li>
            <li><a class="nav-link scrollto" href="/services" style="position: relative; top:2px;">Services</a></li>
            <li><a class="nav-link scrollto " href="/status" style="position: relative; top:2px;">Check Status</a></li>
            <li><a class="nav-link scrollto" href="#team" style="position: relative; top:2px;">IRCTC</a></li>
			<li><a class="nav-link scrollto" style="position: relative; top:2px;"href="/contact">Contact</a></li>
            <!-- <li class="dropdown" style="position: relative; top:2px;"><a href="#"><span>Legal</span> <i class="bi bi-chevron-down"></i></a>
				<ul> 
                 <li><a href="#">Drop Down 1</a></li>
                <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li> -->
            <li ><a class="getstarted scrollto" style="position: relative; top:2px;background-color: blueviolet;" href="/login" >Get Started</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav></div>

        <div id="content">Indian Railway Catering and Tourism Corporation (IRCTC) is an Indian public sector undertaking that provides ticketing, catering, and tourism services for the Indian Railways. It was initially wholly owned by the Government of India and operated under the administrative control of the Ministry of Railways but has been listed on the National Stock Exchange since 2019, with the Government continuing to hold majority ownership.<div>

    <div id="ftr"><%-include('footer')-%></div>
</body>
